.kn__in_frame {
    outline: 1px solid green;
}

.kn__partially_in_frame {
    outline: 1px solid orange;
}

.kn__outside_frame {
    outline: 1px solid red;
}

kn__overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    transition: opacity 0.5s ease-in-out;
    opacity: 0.0;
}

kn__overlay.activated {
    opacity: 0.9
}